In [4]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
pip show scikit-learn

Name: scikit-learn
Version: 1.5.0
Summary: A set of python modules for machine learning and data mining
Home-page: https://scikit-learn.org
Author:
Author-email:
License: new BSD
Location: c:\Users\Administrator\AppData\Local\Programs\Python\Python312\Lib\site-packages
Requires: joblib, numpy, scipy, threadpoolctl
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [7]:
filepath = "C:/Users/Administrator/Desktop/GROUP TWO WORK/Data set 1 Cleaning final.xlsx"

In [8]:
Tendo = pd.read_excel(filepath, header=1)
Tendo.head()

,Column1,Order ID,Date,First,Last,Gender,Age,Country,Price,Units,Revenue,Payment \nMethod,Salesperson
0,NaN,10507,45095,Janet,Murphy,Female,55,FR,400,91.0,36400.0,Credit Card,ANNa Perez
1,NaN,10534,45100,Janice,Clark,Female,60,IT,400,83.6,33440.0,Cash,Anna Perez
2,NaN,10537,45101,Charlotte,Walker,Female,58,FR,320,83.6,26752.0,Credit Card,Anna Perez
3,NaN,10538,45101,Natalie,Robinson,Female,49,FR,320,83.6,26752.0,Credit Card,ANNA PEREZ
4,NaN,10542,45102,Doris,Nguyen,Female,42,IT,400,83.6,33440.0,Credit Card,Tom Jackson

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
dm = LinearRegression()

In [15]:
Tendo.dtypes()

TypeError: 'Series' object is not callable